# Dependencies
node_modules/
package-lock.json

# Test results
reports/
target/
test-results/
allure-results/
dist/

# Logs
*.log
logs/

# Environment
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
